# vtk DataFile Version 2.0
Unstructured Grid Example
ASCII
DATASET UNSTRUCTURED_GRID

POINTS {{nodes_number}} float
{% for i in range(nodes_number) %}{{nodes_x[i]}} {{nodes_y[i]}} 0.0
{% endfor %}
CELLS {{elements_number}} {{sum_elements_data}}
{% for i in range(elements_number) %}{{element_nodes_number[i]}}{% for j in range(element_nodes_number[i]) %} {{elements_node_ids[i, j] - 1}}{% endfor %}
{% endfor %}
CELL_TYPES {{elements_number}}
{% for i in range(elements_number) %}9
{% endfor %}
POINT_DATA {{nodes_number}}
SCALARS Temp float 1
LOOKUP_TABLE default
{% for t in temperatures %}{{t[0]}}
{% endfor %}